In [1]:
def add(a, b):
    return a+b

In [2]:
add(10,20)

30

In [3]:
def sub(a,b):
    pass

In [8]:
def calc(a,b):
#    return a+b, a-b, a*b, a/b // 이건 튜플형태임
    return (a+b, a-b, a*b, a/b) # 반환값 4개가 아니라! 튜플 1개

In [10]:
result = calc(10,5)
print(result)
type(result)

(15, 5, 50, 2.0)

tuple

In [12]:
r1, r2, r3, r4 = calc(10,5)
print(r1,r2,r3,r4)
type(calc)

15 5 50 2.0

function

In [20]:
def sum(num, *params):
    print("num:", num, "params:", params)
    total = 0
    for i in params:
        total += i
        
    return total

In [21]:
sum(10, 20, 30, 40, 50)

num: 10 params: (20, 30, 40, 50)

140

In [22]:
def add(a,b):
    return a+b

In [23]:
add(10,20) # a=10, b=20 으로 순서대로 값이 들어감

30

In [24]:
add(b=20, a=10) # 파이썬은 이런 문법이 가능함 , 실제로도 많이 사용함

30

In [25]:
def words(**params):
    print(params)

In [26]:
words(name="이이름", age=40, address="주소") # 맵형태로 넣어줌

{'name': '이이름', 'age': 40, 'address': '주소'}

In [30]:
def get_number(num):
    if num % 10 == 0:
        print("종료!")
        return # 함수의 종료, 이 후 코드는 실행 X
        
    print(num)

In [31]:
get_number(11)

11

In [32]:
def sum(a,b,c = 100): # 기본값은 항상 마지막 매개변수 부터 차례대로 설정!
    return a+b+c

In [33]:
sum(10,20)

130

In [36]:
sum(10,20,110)

140

In [37]:
def sum2(a,b=100, c):
    return a + b + c

SyntaxError: parameter without a default follows parameter with a default (2422504871.py, line 1)

In [38]:
name = "이이름" # 전역변수

def message(msg): # msg는 지역변수
    print(f"{name}님 {msg}")

In [40]:
message("안녕하세요") # 이렇게 하면 원래는 안됐음

이이름님 안녕하세요

In [41]:
name = "이이름" # 전역변수

def message(msg): 
    global name # 전역변수 name을 message 함수 지역내에서 사용하겠다!
    
    print(f"{name}님 {msg}")

In [42]:
message("안녕하세요")

이이름님 안녕하세요

In [48]:
nums =  [1, 2, 3, 4 ,5 ,6 ,7 ,8 ,9 ,10]
def is_even(num): # 짝수 판별 함수 - 사용자 정의 함수, 일회용으로 사용하는 경우가 많다.
    return num%2 ==0

even = filter(is_even, nums)
even_nums = list(even)
print(even_nums)

[2, 4, 6, 8, 10]

In [45]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
is_even = lambda x : x%2 ==0
even = list(filter(is_even, nums))
print(even)

[2, 4, 6, 8, 10]

In [46]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = list(filter(lambda x: x%2 ==0, nums))
print(even)

[2, 4, 6, 8, 10]

In [51]:
nums =  [1, 2, 3, 4 ,5 ,6 ,7 ,8 ,9 ,10]
def is_even(num): # 짝수 판별 함수 - 사용자 정의 함수, 일회용으로 사용하는 경우가 많다.
    return num%2 ==0

even = filter(is_even, nums)
even_nums = list(even)
print(even_nums)

[2, 4, 6, 8, 10]